.compra {
  margin-top: 30px;
  border-top: 2px dashed #8F004E;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #fce4ec;
  padding: 20px;
}

.compra h2 {
  margin-bottom: 20px;
  color:#8F004E;
}

.compra-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  
}

.compra-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-borrar {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-borrar:hover {
  background-color: #ff3b3b;
}

.contador-input {
  width: 60px;        /* ancho pequeño */
  padding: 4px;       /* más compacto */
  text-align: center; /* número centrado */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Para que no se expanda en el grid */
.compra-detalle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: auto; /* clave para que no crezca de más */
}

.compra-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Por si tu input se estira por el contenedor */
.compra-item input[type="number"] {
  max-width: 70px !important;
}
